/* CONTAINER DO POPUP */
.leaflet-popup-content-wrapper {
  background-color: #ffffff;
  border-radius: 14px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
  padding: 0;
  overflow: hidden;
  transition: all 0.3s ease;
  border: 1px solid #e0e0e0;
  font-family: "Inter", sans-serif;
}

/* SETA DO POPUP */
.leaflet-popup-tip {
  background-color: #ffffff;
}

/* CONTEÚDO INTERNO */
.popup-content {
  padding: 14px 16px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  color: #333;
  line-height: 1.5;
  text-align: justify;
}

/* TÍTULO */
.popup-title {
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  font-weight: 600;
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 10px;
}

/* IMAGEM */
.popup-image {
  display: block;
  margin: 0 auto 010px; /* diminui espaço entre imagem e texto */
  max-width: 100%;
  max-height: 180px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

/* PARÁGRAFO */
.popup-p {
  background-color: #f8f8f8;
  padding: 10px 12px;
  border-radius: 8px;
  color: #444;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05);
}
